#Android generated
bin
gen
*.ap_
.apt_generated/

#IntelliJ IDEA
.idea
*.iml
*.ipr
*.iws
classes
gen-external-apklibs

#Maven
target
release.properties
pom.xml.*

#Gradle
.gradle
build
gradle.properties
local.properties

#Signing
keystore.properties
*.keystore
*.jks

#Other
.DS_Store
tmp
*.swp
*.tmp
*.bak
*.swp
*.launch
captures
*.apk
.externalNativeBuild


