<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>869368265555-h2ukedac70b43inerabt91rc7mbqffhu.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.869368265555-h2ukedac70b43inerabt91rc7mbqffhu</string>
	<key>API_KEY</key>
	<string>AIzaSyDvKl4W23E6WTHMMFtIond1T00OFu7uXOs</string>
	<key>GCM_SENDER_ID</key>
	<string>869368265555</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>io.peggyjo.peggymeter</string>
	<key>PROJECT_ID</key>
	<string>peggy-meter</string>
	<key>STORAGE_BUCKET</key>
	<string>peggy-meter.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:869368265555:ios:38b64f903438aa65</string>
	<key>DATABASE_URL</key>
	<string>https://peggy-meter.firebaseio.com</string>
</dict>
</plist>